
html {
  background-image: url("/images/b.jpg");
}
body {
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form {
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
}


h1 {
  font-size: 60px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#signature {
  text-align: right;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 75%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

.topnav a.active {
  background-color: #69369E;
  color: white;
}

ul.line-one {
  display: inline;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style-type: none;
  
}

ul.top-line{
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 8em
}



a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

.footer{
  display: flex;
  height: 35vh;
  width: 100%;
  background-color: #333;
  line-height: 1.3;
  font-family: Menlo, monospace;
}


.vertical-center {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  
}

h2 {
  text-align:left;
}

img {
  display: block;
  margin: 0 auto;
  box-align: left;
  border: 5px solid #333;
  border-radius: 10px;
}

p {
  color: white;
}

table {
   border: 1px solid #333;
   background-color: #f1f1c1;
}

.question {
  background-color: #333;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 10px;
  max-width: 1000px;
}

img {
  width: 700px;
  height: auto;
  border: 1px solid black;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1rem;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}